<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zakatofitranacalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZakatOfitranaCalculator">
        <activity
            android:name=".Wheat_Fitrana"
            android:exported="false" />
        <activity
            android:name=".KishmishFitrana"
            android:exported="false" />
        <activity
            android:name=".ZakatCash"
            android:exported="false" />
        <activity
            android:name=".ZakatSilver"
            android:exported="false" />
        <activity
            android:name=".ZakatGold"
            android:exported="false" />
        <activity
            android:name=".Fitrana"
            android:exported="false" />
        <activity
            android:name=".Zakat"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>